version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "direct"
    groups:
      jest:
        patterns:
          - 'jest'
          - 'jest-*'
          - '@types/jest'
          - 'ts-jest'
      stylelint:
        patterns:
          - 'stylelint'
          - 'stylelint-*'
    reviewers:
      - "VKCOM/vk-sec"
      - "VKCOM/frontend-core"

  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "VKCOM/vk-sec"
      - "VKCOM/frontend-core"
